window {
  background-color: #282a36;
  font-size: 20px;
  font-family: "DejaVu Sans Mono";
  opacity: 0.85;
}

#input, #inner-box, #outer-box {
  background-color: #44475a;
  color: #f8f8f2;
  caret-color: #f8f8f2;
  border: none;
}

#input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
