* {
  border: none;
  border-radius: 0;
  font-family: 'DejaVu Sans Mono';
  font-size: 14px;
}

#waybar {
  background-color: rgba(20, 20, 25, 0.2);
  color: #ffffff;
}

#clock, #battery, #pulseaudio {
  padding: 0 10px;
  margin: 0 4px;
}

#tray {
  margin: 10px;
}

#workspaces button {
  padding: 0 10px;
  color: #808080;
}

#workspaces button.focused {
  padding: 0 10px;
  color: #ffffff;
}

#workspaces button:hover {
  background: none;
  color: #ffffff;
}
